body{
	--bg-color: #0d3a97;
	--page-color: #e8f0fb;
	--word-color: black;
	--highlight-background: #a22c24;
	--highlight-color: white;
	--shadow-color: #2d1d15;
	--hard-border-color: #24262b;
	--accent-background: #d2b550;
}
body {
	background-color: var(--bg-color);
	margin: 0;
	font-size: 24px;
}

#center-strip {
	width: 90%;
	margin: 0 auto;
}

#header {
	background-color: var(--page-color);
}

#header-content {
	display: flex;
	flex-direction: column;
	padding: 20px 50px;
}

#seasons-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.button {
	padding: .3em;
	border: 1px solid var(--highlight-background);
	background-color: var(--highlight-background);
	color: var(--highlight-color);
	border-radius: 10px;
	font-size: 1.2em;
	cursor: pointer;
	text-decoration: none;
}

p .button {
	margin-right: 10px;
}

.season-button {
	padding: 0 20px;
	border: none;
	font-size: 1.5em;
	background-color: var(--page-color);
	color: var(--word-color);
	margin: 5px 0;
}

.selected-season {
	border: 2px solid var(--hard-border-color);
	background-color: white;
}

#seasons-list .season-button:hover {
	text-decoration: underline;
}

.button:active {
	filter: brightness(85%);
}

hr {
	width: 100%;
	border: 1px solid var(--shadow-color);
}

#user-entries {
	flex-direction: column;
	padding: 10px 20px;
}

.user-entry {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.user-entry input {
	font-size: 1.0em;
	margin: 0 20px;
	width: 20ch;
	height: 30px;
}

.user-entry button {
	font-size: .8em;
}

#settings-sliders, #filter-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.setting-slider {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 15px;
	width: 340px;
	font-size: 1.2em;
}

.setting-slider input {
	margin-left: 15px;
	width: 150px;
}

#filter-buttons {
	font-size: 1.1em;
}

#update-button-div {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

#update-button {
	margin-right: 15px;
}

.checkbox-group {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	margin: 15px;
}

input[type="checkbox"] {
	zoom: 2.5;
	margin: 0 2px;
}

.show-item {
	display: flex;
	flex-direction: row;
	background-color: var(--page-color);
	margin: 30px 0;
	padding: 20px;
	border-radius: 20px;
	border: 5px solid var(--hard-border-color);
}

.load-message {
	text-align: center;
}

.error-message {
	flex-direction: column;
}

.info-column {
	display: flex;
	flex-direction: column;
	font-size: 1.5em;
	line-height: 1.6;
}

.show-info {
	display: flex;
	flex-direction: column;
	margin: 0 10px;
	width: 100%;
}

.show-img {
	display: block;
	border: 2px solid var(--shadow-color);
	border-radius: 2px;
	width: 400px;
	align-self: start;
}

.show-title {
	color: var(--highlight-color);
	background-color: var(--highlight-background);
	font-size: 2em;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
}

.show-info-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.list-item {
	max-width: 900px;
	margin: 10px;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	margin-right: 20px;
	background-color: var(--accent-background);
}

.list-item .entity-group {
	--img-width: 150px;
	--img-height: 200px;
	width: var(--img-width);
	margin-right: 10px;
	color: var(--word-color);
	text-decoration: none;
}

.entity-group:hover {
	opacity: .7;
}

.entity-group img {
	width: var(--img-width);
	height: var(--img-height);
	object-fit: cover;
	overflow: hidden;
}

.entity-group .entity-name {
	font-size: 1em;
	line-height: 1;
	height: 3.1em;
	overflow: hidden;
}

.show-entity .entity-name {
	font-style: italic;
}

.staff-works .entity-desc {
	margin-top: 0.3em;
	text-decoration: underline;
}

.entity-desc p {
	line-height: .9;
	margin-top: 0;
	margin-bottom: .4em;
}

.entity-desc div {
	margin: .4em;
	line-height: 1;
}
